%section.section-with-slider
  %header
    %h1 Section with Content Slider
    %ul.pager#prototyping-slider-control
      %li
        %a.active{:href => '#prototyping-1'} 1
      %li 
        %a{:href => '#prototyping-2'} 2
      %li
        %a{:href => '#prototyping-3'} 3
      %li
        %a{:href => '#prototyping-4'} 4

  #prototyping-slider-body

    %article.article-with-big-img#prototyping-1
      .desc-box
        :markdown
          **Check page_controller.js.coffee file to see how to use this**
        
          #{lorem.paragraph}

        %a.button{:href => '#prototyping-2'} next &raquo;
      
      .img-box
        %figure
          %img{:src => lorem.image('590x300'), :alt => 'img'}
          %figcaption image caption

    %article.article-with-big-img#prototyping-2
      .img-box
        %figure
          %img{:src => lorem.image('590x300'), :alt => 'img'}
          %figcaption image caption

      .desc-box
        :markdown
          **Each article can have its own layout**
        
          #{lorem.paragraph}

        %a.button{:href => '#prototyping-3'} next &raquo;

    %article.article-without-grid#prototyping-3
      .desc-box
        :markdown
          **If you do not specify a grid for an article then it will be full screen**
        
          #{lorem.paragraph}

        %a.button{:href => '#prototyping-4'} next &raquo;
      
      .img-box
        %figure
          %img{:src => lorem.image('900x200'), :alt => 'img'}
          %figcaption image caption
          
    %article.article-with-small-img#prototyping-4
      .desc-box
        :markdown
          **That's all, contact me if you have any problems**
        
          #{lorem.paragraph}

          #{lorem.paragraph}

      .img-box
        %figure
          %img{:src => lorem.image('300x350'), :alt => 'img'}
          %figcaption image caption

